<h1>All Users</h1>

<% if can? :create, User %>
  <%= link_to "Add New User", new_user_path, class: "btn btn-success mb-3" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Messages Sent</th>
      <th></th>  <!-- Show -->
      <th></th>  <!-- Edit -->
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.email %></td>
        <td><%= "#{u.first_name} #{u.last_name}" %></td>
        <td><%= u.messages.count %></td>
        <td>
          <%= link_to "Show", user_path(u), class: "btn btn-outline-primary btn-sm" %>
        </td>
        <td>
          <% if can? :update, u %>
            <%= link_to "Edit", edit_user_path(u), class: "btn btn-outline-secondary btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
