<h1>User #<%= @user.id %></h1>

<ul>
  <li><strong>Email:</strong>      <%= @user.email %></li>
  <li><strong>First Name:</strong> <%= @user.first_name %></li>
  <li><strong>Last Name:</strong>  <%= @user.last_name %></li>
  <li><strong>Created At:</strong> <%= @user.created_at %></li>
  <li><strong>Updated At:</strong> <%= @user.updated_at %></li>
</ul>

<%= link_to "Add New User", new_user_path, class: "btn btn-success" %>

<%= link_to "Back to Users", users_path %>
